<%- include('partials/header') %>
<h1><%= title %></h1>
<p>Welcome to the <%= title %></p>
<% message_list.forEach(function(message) { %>
  <div class="border p-3 my-3">
    <h3><%= message.title %></h3>
    <p><%= message.message_text %></p>

    <% if (user && user.membership_status == true) { %>
      <p>User: <%= message.user.user_name %></p>
      <p><%= moment(message.timestamp).format('MMMM Do YYYY, h:mm:ss a') %></p>
      <% if (user && user.admin == true) { %>
        <form action="/message/delete/<%= message._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this message?');">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>
    <% } else { %>
      <p>REDACTED</p>
    <% } %>
  </div>
<% }); %>
<% if (user && user.membership_status) { %>
  <form action="/admin/set-admin" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="checkbox" name="admin" id="admin" onchange="this.form.submit()" <% if (user.admin) { %>checked<% } %>> Set self as Admin
  </form>
<% } %>
<%- include('partials/footer') %>
