<%- include('partials/header') %>
<h1><%= title %></h1>
<p>Welcome to the <%= title %></p>
  <% message_list.forEach(function(message) { %>
    <div class="border p-3 my-3">
      <h3><%= message.title %></h3>
      <p><%= message.message_text %></p>

      <% if (user && user.membership_status == true) { %>
        <p>User: <%= message.user.user_name %></p>
        <p><%= moment(message.timestamp).format('MMMM Do YYYY, h:mm:ss a') %></p>
      <% } else { %>
        <p>REDACTED</p>
      <% } %>
    </div>
  <% }); %>
<%- include('partials/footer') %>